.body-grey {
    background-color: grey;
}
.center-form {
    text-align: center;
    background-color: white;
    padding: 20px;
    width: 50%;
    margin: 0 auto;
}

.margin-vertical-center {
    margin-top: 200px;
}

.center-form input {
    padding: 10px;
}